.s-yellow{
    background-color: gold !important;
    color: white !important;
}

.s-orange{
    background-color: orange !important;
    color: white !important;
}

.s-green{
    background-color: green !important;
    color: white !important;
}