.overall-wrap{
    width:50%;
    height: 80%;
}

table{
overflow-y: auto;
    animation: tableSlow 1s cubic-bezier(0.075, 0.54, 0.165, 1);
}

thead tr {
position: sticky;
top:0;
}

h3{
  text-shadow: 0 0 2px lightslategray
}

table thead th {
 background-color: lightslategray !important;
 color: white !important;
} 

tr td:nth-of-type(2){
    text-transform: capitalize;
}

body{
    margin: 0;
    padding: 0;
}

@keyframes tableSlow {
    0%{
        transform: translate(-100%);
    }

    100%{
        transform: translate(0);
    }
    
}